body {
    background-color: black;
    color: white;
}

#header {
    background-color: #84bd00;
    width: 100%;
    height: 60px;
}


#login-btn {
    background-color: #84bd00;
}

#submitgenre {
    background-color: #84bd00;
}

#total-random {
    background-color: #84bd00;
}

#user-select-genre {
    background-color: #84bd00;
}